---
const { title = '标题' } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/comp-test/">Comp Example</a>
        <a href="/env-test">Env Example</a>
        <a href="/image-test">Image Example</a>
        <a href="/docs">Docs</a>
      </nav>
    </header>
    <slot />
  </body>
</html>
